.button {
  height: 50px;
  width: 50px;
  text-align: center;
  font-size: 30px;
  border-radius: 0;
  background-color: #fff;
  border: 1px solid gray;
  line-height: 10px;
  padding: 0;

  &:disabled {
    color: #000;
    cursor: not-allowed;
  }
}
